header {
  height: 101px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  background-color: #feb31c;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 22px;
}

.header-info {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}

.header-info-first {
  height: 18px;
  color: #242430;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.04px;
}

.header-info-second {
  margin-top: 10px;
  color: #242430;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  /* Text style for "8, 74 user" */
  letter-spacing: -0.03px;
}

.search-wrapper {
  position: relative;
  margin-left: 243px;
}

.search-input {
  width: 237px;
  height: 43px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 43px;
  border: 0;
}

.search-img {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.search-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #242430;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
}

.filter-button {
  width: 125px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(230, 230, 232, 0.3);
  border-radius: 4px;
  border: 1px solid #c59b46;
  background-color: #ffffff;
  margin-left: 123px;
  color: #feb31c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "T, able fi" */
  letter-spacing: -0.03px;
}

.header-drop-down {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  /* Text style for "Dale McCor" */
  letter-spacing: -0.03px;
  margin-left: 31px;
}

.header-drop-down-img {
    margin-left: 7px;
}