@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "./reset.css";
@import "./navigation.css";
@import "./header.css";
@import "./table.css";
@import "./mainContent.css";
@import "./modalDialog.css";

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.core-wrapper {
  display: flex;
}

.main-wrapper {
  width: 100%;
}

.menu, 
.header-drop-down-img {
  cursor: pointer;
}

.navigation-logo {
  cursor: default;
}