main {
  display: flex;
  align-items: center;
  padding-top: 25px;
  flex-direction: column;
}

.main-content-show-button {
  width: 1115px;
  height: 65px;
  box-shadow: 0 1px 8px rgba(229, 229, 235, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(223, 223, 230, 0.8);
  background-color: #ffffff;
  color: #feb31c;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  /* Text style for "SHOW MORE" */
  letter-spacing: -0.02px;
  margin-top: 6px;
}
