.dialog-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  left: 0;
}

.edit-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-wrapper {
  width: 888px;
  background-color: #ffffff;
}

.edit-header {
  height: 88px;
  box-shadow: 0 1px 8px rgba(229, 229, 235, 0.5);
  border: 1px solid rgba(223, 223, 230, 0.8);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px 0 22px;
}

.edit-header-info {
  display: flex;
  flex-direction: column;
}

.edit-close {
  border: none;
  background-color: inherit;
}

.edit-header-info-second {
  color: #363640;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.edit-header-info-first {
  color: #feb31c;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.edit-field-info {
  color: #363640;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.edit-field {
  height: 55px;
  box-shadow: 0 1px 8px rgba(229, 229, 235, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 230, 0.8);
  background-color: #ffffff;
  color: #a2a2a6;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  padding-left: 30px;
}

.edit-field::placeholder {
  color: #a2a2a6;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.edit-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.edit-body-block {
  width: 414px;
}

.edit-body-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 13px 33px 34px 26px;
}

.edit-body {
  display: flex;
}

.edit-body-block-name {
  display: flex;
}

.edit-body-block-name .edit-field-wrapper:nth-child(1) {
  margin-right: 9px;
}

.edit-body-block-first {
  margin-right: 12px;
}

.edit-body-second {
  display: flex;
  justify-content: space-between;
}

.edit-drop-dawn-wrapper {
  width: 198px;
  height: 53px;
  box-shadow: 0 1px 8px rgba(229, 229, 235, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 230, 0.8);
}

.edit-drop-dawn {
  display: flex;
  align-items: center;
  padding: 0 17px 0 17px;
  justify-content: space-between;
  height: 100%;
}

.edit-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 31px 34px 29px;
  height: 51px;
}

.edit-footer-info-name {
  color: #363640;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.edit-footer-info-value {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-weight: 400;
  color: #feb31c;
}

.edit-footer-info-wrapper {
  margin-top: 17px;
}

.edit-footer-button-rgoup {
  height: 45px;
}

.edit-footer-button {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.03px;
  height: 100%;
  border: 1px solid #838383;
  border-radius: 4px;
}

.edit-footer-button:nth-child(1) {
  width: 157px;
  background-color: #c8c8c8;
  margin-right: 25px;
}

.edit-footer-button:nth-child(2) {
  width: 146px;
  background-color: #c8c8c8;
  margin-right: 20px;
}

.edit-footer-button:nth-child(3) {
  width: 157px;
  background-color: #68c67c;
}
