nav {
  /* Style for "left menu" */
  width: 241px;
  height: 975px;
  background-color: #2185a6;
}

.navigation-logo-wrapper {
  width: 241px;
  height: 101px;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation-logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.navigation-logo-text {
  /* Style for "Open Circl" */
  width: 116px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  /* Text style for "O, pen Cir" */
  letter-spacing: 0.09px;
  margin-left: 19px;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.navigation-list-item-text {
  color: #ced7da;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  /* Text style for "D, aily" */
  letter-spacing: 0.35px;
  margin-left: 30px;
}

.navigation-list-item-img-2,
.navigation-list-item-img-5 {
  filter: invert(50%);
}

.navigation-list-item {
  height: 69px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-list-item-active {
  width: 6px;
  height: 63px;
  background-color: #ffffff;
  position: absolute;
  left: 1px;
}
