.table-block-header {
  color: #feb31c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  /* Text style for "E-mail" */
  letter-spacing: -0.03px;
}

.table-block {
  width: 1115px;
  height: 771px;
  box-shadow: 0 1px 8px rgba(229, 229, 235, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(223, 223, 230, 0.8);
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none;
}

.table-block td,
.table-block th {
  border: 1px solid rgba(223, 223, 230, 0.8);
}

.table-block-body {
  color: #363640;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.table-block-body tr {
  background-color: #fcfcfc;
}

.table-block-column-Type,
.table-block-column-Company,
.table-block-column-Country,
.table-block-second-name {
  color: #a2a2a6;
  font-size: 14px;
  font-weight: 300;
}

.columns-name-Email {
  padding-left: 24px;
  width: 256px;
}

.columns-name-Name {
  padding-left: 25px;
  width: 271px;
}

.columns-name-Type {
  padding-left: 22px;
  width: 121px;
}

.columns-name-Company {
  padding-left: 15px;
  width: 116px;
}

.columns-name-Country {
  padding-left: 11px;
  width: 143px;
}

.columns-name-Subscription {
  padding-left: 18px;
  width: 176px;
}
